7za.exe
.vs/
Announcers/
BGAnimations/
CDTitles/
Cache/
Characters/
Courses/
Data/
**/Debug
NoteSkins/
Packages/
Program/
RandomMovies/
**/Release
Songs/
Themes/
ThirdParty/
Utils/
src/StepMania.suo
**/*.vcproj.*.user
info.txt
log.txt
winsocket_client.exe
winsocket_server.exe
src/StepMania.suo
src/crypto51/d2utmpwOSSWZ
crashinfo.txt
**/*.lib
